.caracteristic {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-primary);
}

.bonus-caracteristic {
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
}

.caracteristic-value {
  width: 75%;
  margin: 0.25rem auto;
}

.character-bonus {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.race-bonus,
.subRace-bonus,
.class-bonus {
  border-radius: 50%;
  background-color: var(--color-primary);
  padding: 0 0.2rem 0 0.1rem;
}

.race-bonus,
.subRace-bonus  {
  color: var(--background-color-1);
  background-image: url("../../images/races/race_border.png");
  background-size: 100% 100%;
}

.Strength {
  border-color: var(--color-Strength);
  color: var(--color-Strength);
}
.Constitution {
  border-color: var(--color-Constitution);
  color: var(--color-Constitution);
}
.Dexterity {
  border-color: var(--color-Dexterity);
  color: var(--color-Dexterity);
}
.Intelligence {
  border-color: var(--color-Intelligence);
  color: var(--color-Intelligence);
}
.Wisdom{
  border-color: var(--color-Wisdom);
  color: var(--color-Wisdom);
}
.Charisma {
  border-color: var(--color-Charisma);
  color: var(--color-Charisma);
}
