
.character-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
}
.character-name {
    font-weight: bold;
}

.character-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.fight {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fight > *:not(:nth-child(1)):not(:empty) {
    margin-top: 0.75rem;
}

.status {
    display: flex;
    flex-direction: row;
}

.equipment {
    display: flex;
    flex-direction: row;
}
.equipment > * {
    margin-left: 0.75rem;
}

.weapons,
.armors {
    display: flex;
    flex-direction: column;
}
.weapons > *:not(:nth-child(1)):not(:empty),
.armors > *:not(:nth-child(1)):not(:empty) {
    margin-top: 0.75rem;
}

.stats {
    display: flex;
    flex-direction: column;
}

.caracteristics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.caracteristic-name {
    display: block;
    text-align: center;
}