/* Header */
.character-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    z-index: 10;
}
.character-name {
    font-weight: bold;
}

/* Capacities */
.character-capacities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.fight {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.fight > *:not(:nth-child(1)):not(:empty),
.stats > *:not(:nth-child(1)):not(:empty) {
    margin-top: var(--components-separator-margin);
}

.special,
.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.caracteristics {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.caracteristics > * {
    margin: 0 0.25rem;
}
.caracteristic {
    margin: auto;
}

.caracteristic-name {
    display: block;
    text-align: center;
}

.complements {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.protections {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: var(--components-separator-margin);
}
.protections >* {
    flex-grow: 1;
}

/* Equipments */
.equipment,
.equipment-weapon,
.equipment-armor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--components-separator-margin);
}
.equipment > *:not(:nth-child(1)):not(:empty),
.equipment-weapon > *:not(:nth-child(1)):not(:empty),
.equipment-armor > *:not(:nth-child(1)):not(:empty) {
    margin-left: var(--components-separator-margin);
}
.equipment-weapon {
    flex-grow: 2;
}

/* Skills selection */
.skills-selection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 20rem;
    overflow-y: scroll;
}