/* Header */
.character-header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    z-index: 5;
}

.detailsComponent,
.historicComponent,
.spellBookComponent {
    z-index: 5;
}
.flyingNotesComponent {
    z-index: 10;
}
.spellBookComponent {
    flex-grow: 1;
}
.equipment-selector {
    max-width: 20rem;
}

.character-name {
    font-weight: bold;
}

/* Overview */
.health-overview {
    display: flex;
    flex-direction: column;
}
.health-overview > *:not(:nth-child(1)):not(:empty) {
    margin-top: var(--components-separator-margin);
}

.damagesComponent {
    margin-left: 1rem;
    margin-right: 1.5rem;
}

/* Capacities */
.character-capacities {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.fight {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.fight > *:not(:nth-child(1)):not(:empty),
.stats > *:not(:nth-child(1)):not(:empty),
.caracteristics-relative > *:not(:nth-child(1)):not(:empty),
.personnalNotesComponent,
.flyingNotesComponent,
.generalNotesComponent {
    margin-top: var(--components-separator-margin);
}
.specialsComponent {
    align-self: flex-start;
}

.health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 1rem;
}

.health > .healthComponent {
    flex-grow: 1;
}

.status,
.special {
    margin-left: 1rem;
}

.status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.special {
    display: flex;
    flex-direction: column;
}
.special > * {
    margin-top: var(--components-separator-margin);
}

.stats {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}
.caracteristics-relative {
    align-self: flex-end;
}

.caracteristics {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}
.caracteristics > * {
    margin: 0 0.25rem;
}
.caracteristic {
    margin: auto;
}

.caracteristic-name {
    display: block;
    text-align: center;
}

.complements {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    margin-left: 0.5rem;
}

/* Equipments */
.equipment {
    display: flex;
    flex-direction: column;
}

.weapons-selectors,
.armors-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: var(--components-separator-margin);
}
.equipment-weapons,
.equipment-armors {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.equipment-bag {
    margin-top: var(--components-separator-margin);
    display: flex;
    flex-direction: column;
}
.weapons-selectors,
.armors-selectors {
    display: flex;
    flex-direction: row;
}
.weapons-selectors > *:not(:nth-child(1)):not(:empty),
.armors-selectors > *:not(:nth-child(1)):not(:empty) {
    margin-left: var(--components-separator-margin);
}

.bags {
    display: flex;
    flex-direction: column;
}

/* Skills selection */
.skills-selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    max-height: 20rem;
    overflow-y: scroll;
}

/* Notes */
.user-notes {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.user-notes > * {
    flex-grow: 1;
}
