.kiComponent {
  display: flex;
}

.ki-points {
  display: flex;
  align-items: center;
}

.ki-point {
  margin: 0 0.25rem;
  border-radius: 50%;
  height: calc(var(--height-bars)/2);
  width: calc(var(--height-bars)/2);
  background-image: radial-gradient(transparent, var(--color-Ki));
}

.available {
  border-color: transparent;
  height: var(--height-bars);
  width: var(--height-bars);
  background-image: radial-gradient(var(--color-Ki), transparent);
}