.gender-value {
    display:flex;
}

.genders {
    position: relative;
    left: -0.5rem;
    height: 75%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.⚲ {
    background-color: var(--color-genderless);
}
.♀ {
    background-color: var(--color-female);
}
.♂ {
    background-color: var(--color-male);
}
.⚧ {
    background-color: var(--color-transgender);
}
.⚥ {
    background-color: var(--color-hermaphoditus);
}