.personnalNotesComponent {
    color: var(--background-color-1);
}
.personnal-notes-container {
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/parchment.png");
}
.personnal-notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.personnal-notes-header img {
    height: 1rem;
}
.personnal-notes-name {
    padding: 0 1rem;
}

.global-note {
    height: 100%;
    flex-grow: 1;
    padding: 1rem;
    visibility: collapse;
    background-color: transparent;
    border: 0;
}

.show-personnal-notes {
    visibility: visible;
    height: auto;
}
