.personnalNotesComponent {
    color: var(--background-color-1);
}
.notes-container {
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    background-image: url("../../images/parchment.png");
}
.notes-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.notes-header img {
    height: 1rem;
}
.notes-name {
    padding: 0 1rem;
}

.notes {
    height: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 0;
    visibility: collapse;
}

.show-notes {
    visibility: visible;
    height: auto;
}
