.character-overview {
    margin: 1rem 0;
    border: 1px solid var(--color-primary);
}

.overview-header {
    position: relative;
    display: flex;
    justify-content: space-between;
}
r
.overview-name {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -0.1rem;
}

.overview-header .acComponent {
    z-index: 2;
}

.caracteristics-overview {
    display: flex;
    flex-direction: column;
}

.weapons-overview,
.armors-overview {
    display: flex;
    flex-direction: row;
    margin-top: var(--components-separator-margin);
}

.weapons-overview > *,
.armors-overview > * {
    flex-grow: 1;
}
.weapons-overview > *:not(:nth-child(1)):not(:empty),
.armors-overview > *:not(:nth-child(1)):not(:empty) {
    margin-left: 1rem;
}