.game-master {
    display: flex;
    flex-direction: column;
}

.intro {
    margin: 1rem auto;
    text-align: center;
}

.characters-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}