.armor-selector {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
}

.equipment-name {
    font-weight: bold;
}

.equipment-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.armor-illustration {
    width: 100%;
    min-height: 2rem;
    text-align: center;
    background-color: var(--background-color-2);
    border: 1px solid var(--color-primary);
}
.armor-image {
    max-height: 10rem;
}

.equipment-description {
    display: flex;
    flex-direction: column;
}

.equipment-description-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AC-value {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: var(--background-color-1);
}
.AC-image {
    position: absolute;
    height: 2rem;
}
.AC-label {
    z-index: 2;
    min-width: 1.5rem;
}