.equipment-selector {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary);
}

.equipment-name {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0;
}

.equipment-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.equipment-illustration {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 2rem;
    text-align: center;
    border-radius: 0;
    background-color: var(--background-color-2);
    border: 1px solid var(--color-primary);
}
.equipment-image {
    width: 100%;
    max-height: 20rem;
}

.equipment-description {
    display: flex;
    flex-direction: column;
}

.equipment-description-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description-line-value {
    text-align: right;
}

.main-stat-value {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: var(--background-color-1);
}
.main-stat-image {
    position: absolute;
    height: 2rem;
}
.main-stat-label {
    z-index: 2;
    min-width: 1.5rem;
}
.main-stat-bonus-label {
    position: absolute;
    bottom: -1rem;
    right: -0.25rem;
    font-size: 0.75rem;
    height: 1rem;
    border-radius: 50%;
    border : 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: var(--background-color-1);
}

.equipment-select optgroup {
    background-color: var(--color-header);
    color: var(--color-primary);
}.equipment-select option {
    background-color: var(--background-color-1);
    color: var(--color-primary);
}

.equipment-select .master-equipment {
    color: var(--color-master-bonus);
}
.not-master-equipment {
    background-color: var(--background-color-1);
    border-color: var(--color-Disadvantage);
}
.not-master-image {
    height: 100%;
}
