.ammunitions {
    display: flex;
    flex-direction: row;
}

.ammunition-points {
    display: flex;
    flex-direction: row;
    width: 9rem;
    flex-wrap: wrap;
    align-content: center;
}

.ammunition {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0 0.1rem;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.master-bonus {
    color: var(--color-master-bonus);
    border-color: var(--color-master-bonus);
}

.weapon-special-bonus {
    color: var(--color-primary);
    border-color: var(--color-primary);
    right: 1rem;
}

.equipment-name {
    display: flex;
    flex-direction: column;
}

.additional-info {
    align-self: flex-start;
}