.damagesComponent {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: default;
}

.damagesComponent img {
  width: 100%;
}

.image-container {
  position: relative;
}
.damage-marker {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--background-color-1);
  background-color: #CCC;
  opacity: 0.5;
  cursor: pointer;
}
.damage-marker.hurt {
  opacity: 0.8;
  background-color: var(--color-Damage);
}

.damage-marker-header {
  height: 0.25rem;
  width: 0.75rem;
  border-radius: 50%;
  background-color: var(--background-color-1);
  cursor: grab;
}
.damage-symbol {
  font-size: 0.7rem;
  line-height: 100%;
}

.damage-marker-header:active {
  cursor: grabbing;
}

.damage-marker:hover,
.damage-marker:focus {
  opacity: 1;
}

.head-damage-marker {
  top: 5%;
}
.torso-damage-marker,
.right-arm-damage-marker,
.left-arm-damage-marker {
  top: 25%;
}
.right-forearm-damage-marker,
.left-forearm-damage-marker {
  top: 40%;
}
.right-thigh-damage-marker,
.left-thigh-damage-marker {
  bottom: 40%;
}
.right-shin-damage-marker,
.left-shin-damage-marker {
  bottom: 15%;
}

.head-damage-marker,
.torso-damage-marker {
  left: calc(50% - 0.5rem);
}

.right-arm-damage-marker {
  left: 20%;
}
.right-forearm-damage-marker  {
  left: 15%;
}
.right-thigh-damage-marker,
.right-shin-damage-marker {
  left: 35%;
}

.left-arm-damage-marker {
  right: 20%;
}
.left-forearm-damage-marker {
  right: 15%;
}
.left-thigh-damage-marker,
.left-shin-damage-marker {
  right: 35%;
}

.profil-image-update {
  position: absolute;
  display: flex;
  flex-direction: row;
  max-height: 0.5rem;
  align-items: flex-end;
  z-index: 1;
}

.custom-file-input {
  display: flex;
  max-height: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: var(--background-transparent-color-1);
  border: 1px solid var(--color-primary);
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  display: inline-block;
  width: 1rem;
}

.damagesComponent input[type="file"].activable:not(.forbidden) {
  cursor: pointer;
}

.delete-image img {
  width: 0.5rem;
}