.objects {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

.objects-category {
  margin: 0.1rem 0 0.1rem auto
}

.object {
  display: flex;
  flex-direction: row;
  margin: 0.1rem auto;
  border-width: 0;
  color: var(--color-primary);
}
.object:hover:not(.class-master),
.object:focus:not(.class-master) {
  border: 1px solid var(--color-primary);
}

.object-name {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.object-bonus {
  width: 2rem;
  color: var(--color-master-bonus);
}

.class-master {
  border: 1px solid var(--color-primary);
}
