.objectsComponent {
  cursor: default;
}

.objects {
  max-height: 50vh;
  padding-inline-start: 0;
}

.objects-category {
  margin: 0.1rem 0 0.1rem auto
}

.object {
  display: flex;
  flex-direction: row;
  margin: 0.1rem auto;
  border-width: 0;
  color: var(--color-primary);
}

.object-name {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.object-bonus {
  width: 2rem;
  color: var(--color-master-bonus);
}
