.resistancesComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.resistancesComponent h1 {
  border: 1px solid var(--color-primary);
}

.resistances {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  border: 1px solid var(--color-primary);
}

.resistances > *:not(:nth-child(1)) {
  margin-right: 0.25rem;
}

.resistance {
  display: inline-flex;
  padding: 0.15rem;
  border-radius: 50%;
  border: 1px solid transparent;
}

.resistance.activable:hover,
.resistance.activable:focus {
  border-color: var(--color-primary);
}

.resistance-image {
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
  opacity: 0.3;
}

.resistant {
  border-color: var(--color-primary);
  opacity: 1;
}

.race-resistant {
  border-color: var(--color-primary);
  cursor: default;
}