.savesComponent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.savesComponent h1 {
  border: 1px solid var(--color-primary);
}

.saves {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-primary);
}

.caracteristics-saves,
.alteration-saves {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 0.25rem;
}

.caracteristics-saves > *:not(:nth-child(1)),
.alteration-saves > *:not(:nth-child(1)) {
  margin-right: 0.25rem;
}

.save {
  display: inline-flex;
  position: relative;
  padding: 0.15rem;
  border-radius: 50%;
  border: 1px solid transparent;
}

.save.activable:hover,
.save.activable:focus,
.advantage.activable:hover,
.advantage.activable:focus {
  border-color: var(--color-primary);
}

.save-image {
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid transparent;
  opacity: var(--opacity-inactive);
}

.saved {
  border-color: var(--color-primary);
  opacity: 1;
}

.class-saved {
  border-color: var(--color-primary);
  cursor: default;
}

.advantage {
  position: absolute;
  top: -0.15rem;
  left: -0.15rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: 1px solid transparent;
}
.advantage.race-advantage {
  cursor: default;
  border-color: var(--color-primary);
}

.advantage-marker {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--background-color-1);
  border: 1px solid var(--color-primary);
}
:not(.activable) > .advantage-marker {
  cursor: default;
}
.activable .advantage-marker:not(.have-advantage):hover,
.activable .advantage-marker:not(.have-advantage):focus {
  background-color: var(--highlight-background-color-1);
}

.have-advantage {
  background-color: var(--color-primary);
}

.FOR {
  background-color: var(--color-Strength);
}
.CON {
  background-color: var(--color-Constitution);
}
.DEX {
  background-color: var(--color-Dexterity);
}
.INT {
  background-color: var(--color-Intelligence);
}
.SAG{
  background-color: var(--color-Wisdom);
}
.CHA {
  background-color: var(--color-Charisma);
}

@media screen and (max-width: 500px) {
	.savesComponent {
	  align-items: flex-start;
	}
	.alteration-save {
	  flex-wrap: wrap;
	}
	.alteration-saves {
	  flex-direction: row;
	}
	.alteration-saves,
	.caracteristics-saves {
		justify-content: center;
	}
}