.skills {
  display: flex;
  flex-direction: column;
  user-select: none;
  padding-inline-start: 0;
}

.skill {
  width: 95%;
  display: flex;
  flex-direction: row;
  margin: 0.1rem auto;
  border-width: 0;
  color: var(--color-primary);
}
.skill:hover:not(.historic-master),
.skill:focus:not(.historic-master) {
  border: 1px solid var(--color-primary);
}

.skill-name {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.skill-bonus {
  width: 2rem;
}

.historic-master {
  border: 1px solid var(--color-primary);
}

.skill-bonus {
  color: var(--color-master-bonus);
}