.speedComponent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}

.speed-background-image {
  height: 3rem;
}

.speed-label {
  position: absolute;
  font-weight: bold;
  color: var(--background-color-1);
}