.speedComponent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 0 50% 50% 0;
  background: linear-gradient(to right, transparent 10%, var(--color-speed));
  cursor: default;
}
