.weaponsComponent {
  cursor: default;
}

.weapons-category {
  margin: 0.1rem 0 0.1rem auto
}

.weapons {
  max-height: 50vh;
}

.weapon {
  display: flex;
  flex-direction: row;
  margin: 0.1rem auto;
  border-width: 0;
  color: var(--color-primary);
}

.weapon-name {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.weapon-bonus {
  width: 2rem;
  color: var(--color-master-bonus);
}