.weapons {
  display: flex;
  flex-direction: column;
  user-select: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.weapons-category {
  margin: 0;
  padding-inline-end: 0;
  margin: 0.1rem 0 0.1rem auto
}

.weapons-category-name {
  
}

.weapon {
  width: 95%;
  margin: 0.1rem auto;
  display: flex;
  flex-direction: row;
  border-width: 0;
  color: var(--color-primary);
}
.weapon:hover:not(.class-master),
.weapon:focus:not(.class-master) {
  border: 1px solid var(--color-primary);
}

.weapon-name {
  flex-grow: 1;
  margin: 0 0.5rem;
}

.weapon-bonus {
  width: 2.5rem;
  color: var(--color-master-bonus);
}

.class-master {
  border: 1px solid var(--color-primary);
}
