.detailsComponent .expendable-container {
  justify-content: flex-start;
}

.details {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}

.details-names,
.details-values {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.details-values {
  margin-left: var(--components-separator-margin);
}

.details-names > *:not(:nth-child(1)),
.details-values > *:not(:nth-child(1)) {
  margin-top: 0.5rem;
}

.equipment-weight {
  font-size: 0.5rem;
  cursor: default;
}

.languages {
  margin-block-start: 0rem;
  margin-block-end: 0rem;
}