.history-container {
    position: absolute;
    height: 1.5rem;
    margin-top: calc(var(--height-icons)/2);
    display: flex;
    flex-direction: column;
    background-image: url("../../../images/parchment.png");
}

.history {
    height: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 0;
    visibility: collapse;
}

.show-history {
    visibility: visible;
    height: 100%;
}

.modify {
    width: 1rem;
    margin: 0.15rem;
    align-self: flex-end;
    border-radius: 0.25rem;
}
