.gender-value {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.genders {
    position: relative;
    height: 70%;
    text-align: center;
    font-size: 1.25rem;
    appearance: none;
    background: none;
    border: 0;
}

.genders option {
    background-color: var(--background-color-1);
}

.⚲ {
    color: var(--color-genderless);
}
.♀ {
    color: var(--color-female);
}
.♂ {
    color: var(--color-male);
}
.⚧ {
    color: var(--color-transgender);
}
.⚥ {
    color: var(--color-hermaphoditus);
}
