.XPComponent {
  display: flex;
  flex-direction: row;
}

.XPBar {
  position: relative;
  padding-right: calc(var(--height-icons)/2);
  height: var(--height-bars);
  width: 100%;
  text-align: center;
  border: 1px solid var(--color-primary);
}
.XPProgressBar {
  height: 100%;
  background: linear-gradient(transparent, var(--color-XP), transparent);
}
.xp-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  position: relative;
  top: calc(-1 * var(--height-bars));
  padding: 0 calc(0.5rem + var(--height-icons)/2) 0 0.5rem;
  font-size: var(--size-bars-font);
}

.xp-label .max-hp {
  text-align: right;
}
.xp-label .current-xp {
  display: flex;
  flex-direction: row;
}

.xp-value {
  position: relative;
  right: -0.75rem;
  max-width: 5rem;
  background: none;
  font-size: var(--size-bars-font);
  color: var(--color-primary);
  border: 0;
  text-align: right;
}

.level {
  display: flex;
  flex-direction: column;
  height: var(--height-icons);
  width: var(--height-icons);
  text-align: center;
  border-radius: 50%;
  
  background-image: radial-gradient(var(--color-XP), transparent, var(--color-XP));
}