.spellBookComponent {
}

.spells {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  padding-inline-start: 0;
  color: purple;
}

.spell {
  font-family: var(--font-family-tertiary);
  font-size: 1.5rem;
}