/*Define variables for theming */
:root {
  --background-color-1: #222;
  --background-color-2: #858585;
  --background-color-error: #D88;
  --highlight-background-color-1: #333;
  --highlight-background-color-2: #D2D2D2;
  --background-transparent-color-1: rgba(34, 34, 34, 0.5);
  --highlight-background-transparent-color-1: rgba(51, 51, 51, 0.5);
  --color-header: #333;
  --active-background-color-1: #444;
  --active-background-color-2: #D9D9D9;
  --active-background-transparent-color-1: rgba(68, 68, 68, 0.5);
  --color-primary: #DDD;
  --color-secondary: goldenrod;
  --color-error: #911;
  --color-Strength: #A76DCA;
  --color-Constitution: #F17270;
  --color-Dexterity: #91AA66;
  --color-Intelligence: #6B90BD;
  --color-Wisdom: #66C8E3;
  --color-Charisma: #EF9766;
  --color-XP: #EFB64A;
  --color-master-bonus: var(--color-XP);
  --color-speed: #00D878;
  --color-Disadvantage: #C12323;
  --color-Health: #963634;
  --color-Energy: #693661;
  --color-Ki: #C4006B;
  --color-Psy: #F72E9D;
  --color-Witchcraft: #3A9E31;
  --color-Rage: #C12323;
  --color-Spell: #58C9D8;
  --color-genderless: #CECECE;
  --color-male: #C6B5FF;
  --color-female: #FFB2E4;
  --color-transgender: #C691C4;
  --color-hermaphoditus: #E2B58A;
  --color-Damage: #963634;
  --color-Progress: #DDD;
  --font-family-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
  --font-family-secondary: "Algerian"; 
  --font-family-tertiary: "French Script MT";
  --font-family-error: "Calibri", "Arial", source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  --height-bars: 1.25rem;
  --height-icons: 2.5rem;
  --size-bars-font: 0.8rem;
  --opacity-inactive: 0.2;
  --components-separator-margin: 0.75rem;
}

/*Global HTML elements*/
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color-1);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
}

header {
	margin: 0 1rem;
}

a {
  text-decoration: none;
}

button {
  text-align: center;
  background: 0;
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
}

button:hover,
button:focus {
  font-size: 1.02rem;
  background: var(--highlight-background-color-1);
}

div, span, a, ul, li, h1, button {
  border-radius: 0.25rem;
}

h1 {
  margin: 0;
  padding: 0.15rem;
  font-size: 1rem;
  background-color: var(--color-header);
  color: var(--color-primary);
}

select:disabled {
  background-color: #fff;
  color: #333;
}

/*Static style General classes*/
.error-message {
  background-color: var(--background-color-error);
  color: var(--color-error);
  font-family: var(--font-family-error);
  font-size: 1rem;
}

.menu {
  font-family: var(--font-family-secondary);
}

.narrative,
.narrative input,
.narrative textarea {
  font-family: var(--font-family-tertiary);
  font-size: 1.5rem;
}

/*Dynamic style Generalclasses*/
.activable {
  cursor: pointer;
}
.activable:hover,
.activable:focus,
.hoverable:hover,
.hoverable:focus {
  background-color: var(--highlight-background-color-1);
}

.activable.transparent:hover,
.activable.transparent:focus,
.hoverable.transparent:hover,
.hoverable.transparent:focus {
  background-color: var(--highlight-background-transparent-color-1);
}
.activable:active {
  background-color: var(--active-background-color-1);
}
.activable.transparent:active {
  background-color: var(--active-background-transparent-color-1);
}
input.activable:not(.forbidden),
.activable:not(.forbidden) input,
textarea.activable:not(.forbidden),
.activable:not(.forbidden) textarea {
  cursor: text;
}
li.activable:hover,
li.skill:focus,
li.locked {
  border: 1px solid var(--color-primary);
}

.forbidden {
  cursor: not-allowed;
}
.activable.forbidden:hover,
.activable.forbidden:focus {
  border: 1px solid var(--color-error);
}

.option {
  min-width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid var(--color-primary);
}
.option.filled {
 background-color: var(--color-primary);
}

.selector {
  display: flex;
  flex-direction: row;
}
.selector-icon {
  z-index: 2;
  height: var(--height-icons);
  width: var(--height-icons);
  border-radius: 50%;
  background-color: var(--background-color-1);
}
.selector-icon > img {
  height: var(--height-icons);
  width: var(--height-icons);
  position:absolute;
}
.selector-value {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}
.selector-select {
  position: relative;
  left: calc(-1* var(--height-icons)/2);
  padding-left: calc(var(--height-icons)/2);
  width: calc(100% + var(--height-icons)/2)
}

.currentModifier,
.maxModifier {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0.25rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  color: var(--color-primary);
  font-weight: bold;
}
.currentModifier:not(.disabled):hover,
.currentModifier:not(.disabled):focus,
.maxModifier:not(.disabled):hover,
.maxModifier:not(.disabled):focus {
  background-color: var(--highlight-background-color-1);
  cursor: pointer;
}
.currentModifier:not(.disabled):active,
.maxModifier:not(.disabled):active {
  background-color: var(--active-background-color-1);
}

.decrease-max::before {
  content: "\25C2";
}
.decrease-value::before {
  content: "\25C0";
}
.increase-value::before {
  content: "\25B6";
}
.increase-max::before {
  content: "\25B8";
}

.currentModifier.disabled,
.currentModifier.disabled,
.maxModifier.disabled,
.maxModifier.disabled {
  color: var(--highlight-background-color-1);
}

.extensor {
  height: 1rem;
  padding: 0.15rem;
  align-self: flex-end;
  border-radius: 0.25rem;
}
.extensor.horizontal {
  align-self: flex-start;
}
.extensor img {
  height: 100%;
}

.opened,
.closed {
  font-size: 0.75rem;
}
.closed:not(.horizontal)::before {
  content: "\25B8";
}
.opened:not(.horizontal):not(.reverse)::before {
  content: "\25BE";
}
.opened:not(.horizontal).reverse::before {
  content: "\25B4";
}
.closed.horizontal:not(.reverse)::after {
  content: "\25B4";
}
.closed.horizontal.reverse::before {
  content: "\25B4";
}
.opened.horizontal:not(.reverse)::after {
  content: "\25B8";
}
.opened.horizontal.reverse::before {
  content: "\25C2";
}

/*App specific*/
.banner {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.page-title {
	display: inline-flex;
    align-items: center;
	padding: 0.15rem 0.5rem;
}

.header {
  display: flex;
  height: 2rem;
  width: fit-content;
  margin: auto;
  text-align: center;
  background: var(--background-color-1);
  border: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-family: var(--font-family-secondary);
  font-size: 1.75rem;
}
.header img {
	height: 2rem;
}

.body {
  margin: 1rem;
}
.dialog-background {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--background-transparent-color-1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 1rem;
  background-color: var(--background-color-1);
  border: 0.5rem solid var(--color-primary);
}

.dialog-title {
  font-weight: bold;
  border-bottom: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  margin-bottom: 1rem;
}
.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.dialog-buttons > * {
  margin-left: 0.5rem;
}

.prompt-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.prompt-buttons > * {
  margin-left: 0.5rem;
}
.prompt-message {
  margin-right: 0.5rem;
}

@media screen and (max-width: 500px) {
	.banner {
		flex-direction: row;
		align-items: stretch;
	}
	.banner-text {
		display: none;
	}
}
